@import "variables.scss";

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
  min-height: 100%;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.logo {
  display: flex;
  text-decoration: none;
  color: #222222;
  text-align: center;
  .logo-text {
    margin-top: 20px;
    margin-left: 1px;
}
  .logo-text:hover {
    color: $pink-color;
}
}

.header {
  margin: 0 auto;
  width:1600px;
  height: 100px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.17);
  border: $border-grey-3;
  background-color: $white-color;
  .header-flex {
    display: flex;
    justify-content: space-between;
    height: 100%;
    @extend .container;
}
  .header-left {
    display: flex;
    align-items: center;
}
  .header-right {
    display: flex;
    align-items: center;
    position: relative;
}
  .menu__list-br {
    position: relative;
    display: flex;
    z-index: 2;
}
  .menu__list-br:hover .mega-menu-br {
    display: flex;
}
  .browse {
    @include text-rules(#222222, 14px, 700, 38px);
    margin-left: 50px;
    border-radius: 3px 0 0 3px;
    border: $border-grey;
    background-image: linear-gradient(to bottom, #f9f9f9 0%, #f5f5f5 100%);
    display: block;
    width: 87px;
    text-align: center;
    text-decoration: none;
    transition: all 0.2s;
}
  .browse:hover {
    color: $pink-color;
}
  .mega-menu-br {
    border-radius: 5px;
    background-color: $white-color;
    padding: 20px;
    position: absolute;
    display: none;
    border: $border-grey;
    top: 40px;
    left: 45px;
}
  .mega-menu-br:after {
    content: "";
    width: 12px;
    height: 12px;
    background-color: $white-color;
    display: block;
    position: absolute;
    top: -8px;
    left: 70px;
    transform: rotate(45deg);
    border-top: $border-grey;
    border-left: $border-grey;
}
  .form {
    display: flex;
    margin-right: 350px;
    .input-header {
      width: 317px;
      height: 40px;
      border-radius: 0 3px 3px 0;
      border: $border-grey;
      background-color: $white-color;
      font-size: 14px;
      font-weight: 300;
      padding-left: 16px;
      padding-right: 16px;
      box-sizing: border-box;
  }
    .icon-search{
      text-decoration: none;
      border: $border-grey;
      width: 36px;
      height: 38px;
      background-color: $white-color;
      color: #a4a4a4;
      text-align: center;
      line-height: 38px;
  }
    .icon-search:hover{
      color: $pink-color;
  }
}
  .cart-buy {
    width: 32px;
    height: 32px;
    background-color: $white-color;
    display: block;
    margin-left: 8px;
    text-decoration: none;
    margin-right: 10px;
    .guantityDrop {
      margin-top: -50px;
      margin-left:30px;
      line-height: 25px;
      color:$pink-color;
      background-color: $white-color;
      border: 1px solid $pink-color;
      border-radius: 50%;
      height: 25px;
      width: 25px;

      display: flex;
      justify-content: center;

  }
}
  .cart-buy:hover {
    background-color: $pink-color;
}
  .cart-buy-last {
    border-radius: 5px;
    background-color: $white-color;
    padding: 20px;
    position: absolute;
    z-index: 2;
    display: none;
    border: $border-grey;
    top: 37px;
    left: -52px;
}
  .cart-buy-last:after {
    content: "";
    width: 12px;
    height: 12px;
    background-color: $white-color;
    display: block;
    position: absolute;
    top: -8px;
    left: 70px;
    transform: rotate(45deg);
    border-top: $border-grey;
    border-left: $border-grey;
}
  .header-right:hover .cart-buy-last {
    display: flex;
}
  .cart1 {
    display: flex;
    justify-content: right;
    padding-bottom: 16px;
    .drop-price {
      display: flex;
      justify-content: left;
  }
    .cart1-2-text {
      @include text-rules(#222222, 12px, 700, 10px);
      text-decoration: none;
      text-transform: uppercase;
  }
    .cart1-2-text:hover {
      color:$pink-color;
  }
    .cart1-2-star {
      margin-top: 10px;
      color: #e4af48;
  }
    .cart1-2-price {
      @include text-rules($pink-color, 12px, 400, 12px);
      padding-top: 12px;
      text-transform: uppercase;
  }
    .cart1-3 {
      padding-top: 35px;
      color: #c0c0c0;
  }
    .cart1-3:hover {
      color: red;
  }
}
  .cart-line {
    border-bottom: 1px solid #e8e8e8;
    width: 229px;
    height: 1px;
    background-color: #ededed;
    margin-bottom: 16px;
}
  .total-all {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
    .cart-total {
      @include text-rules(#222222, 16px, 700, 16px);
      text-transform: uppercase;
  }
}
  .header__button-white {
    width: 225px;
    margin-bottom: 11px;
}
  .header__button-pink {
    width: 130px;
    margin-left: 26px;
}
}

.mega-flex {
  width: 250px;
  margin-right: 46px;
  .mega-menu__heading {
    @include text-rules(#232323, 14px, 400, 32px);
    text-transform: uppercase;
    border-bottom: $border-grey-2;
}
  .mega-menu__list {
    list-style-type: none;
}
  .mega-menu__link {
    @include text-rules(#646464, 14px, 400, 28px);
    text-decoration: none;
}
  .mega-menu__link:hover {
    color: $pink-color;
}
}

.mega-flex:last-of-type {
  margin-right: 0;
}

.navigation {
  background-color: $white-color;
  .menu {
    display: flex;
    list-style-type: none;
    justify-content: center;
}
  .menu__list {
    position: relative;
}
  .menu__list:hover .mega-menu {
    display: flex;
}
  .menu_link {
    @include text-rules(#222222, 14px, 700, 26px);
    text-decoration: none;
    display: block;
    padding: 20px;
}
  .menu_link:hover {
    color: $pink-color;
}
  .mega-menu {
    border-radius: 5px;
    background-color: $white-color;
    padding: 20px;
    position: absolute;
    display: none;
    border: $border-grey;
    top: 50px;
    left: -8px;
    z-index: 2;
}
  .mega-menu:after {
    content: "";
    width: 12px;
    height: 12px;
    background-color: $white-color;
    display: block;
    position: absolute;
    top: -8px;
    left: 36px;
    transform: rotate(45deg);
    border-top: $border-grey;
    border-left: $border-grey;
}
}

.slider {
  margin: 0 auto;
  width:1600px;
  height: 613px;
  background-color: #e8e8e8;
  .slider-flex {
    @extend .container;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-image: url(img/slider_back.png);
    background-position: 0 -50px;
    .box-slider-text {
      margin-top: 224px;
      border-left: 12px solid #f16d7f;
      padding-left: 12px;
  }
    .slider-heading {
      @include text-rules(#222222, 60px, 700, 45px);
      margin-bottom: 20px;
  }
    .slider-text {
      color: #222222;
      font-size: 40px;
      line-height: 32px;
  }
}
}


.offers-flex {
  padding-top: 98px;
  padding-bottom: 100px;
  display: flex;
  justify-content: space-between;
  @extend .container;
  .offer-text {
    @include text-rules(#222222, 18px, 400, 25px);
    padding-left: 19px;
    padding-top: 16px;
    padding-bottom: 2px;
}
  .offer-text2 {
    @include text-rules($pink-color, 30px, 400, 25px);
    padding-left: 19px
}
  .offer-big {
    display: flex;
    background-image: url(img/left_big.png);
    width: 560px;
    height: 542px;
    .border {
      margin-top: 26px;

      height: 82px;
      padding-right: 15px;
      background-color: $white-color;
  }
}
  .offer-mini {
    display: flex;
    background: url(img/left_mini.png);
    width: 560px;
    height: 261px;
    .border3 {
      margin-top: 25px;
      height: 82px;
      padding-right: 15px;
      background-color: $white-color;
  }
}
  .offer-mini2 {
    display: flex;
    background-image: url(img/right_mini.png);
    width: 560px;
    height: 261px;
    .border2 {
      margin-top: 26px;
      height: 82px;
      padding-right: 15px;
      background-color: $white-color;
  }
}
  .offer-big2 {
    display: flex;
    background-image: url(img/right_big.png);
    width: 560px;
    height: 542px;
}
  .border4 {
    margin-top: 27px;
    height: 82px;
    padding-right: 15px;
    background-color: $white-color;
}
  .offer-effect {
    text-decoration: none;
}
  .offer-effect:hover {
    filter: contrast(175%);
}
}

.offers-flex > div > div:first-of-type {
  margin-bottom: 20px;
}

.future-items {
  @extend .container;
  .items {
    @include text-rules(#222222, 30px, 700, 23px);
    text-align: center;
    padding-bottom: 16px;
}
  .items2 {
    @include text-rules(#9f9f9f, 14px, 400, 12px);
    text-align: center;
}
  .box-product {
    padding-top: 59px;
    padding-bottom: 59px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
  .future-items__button-pink {
    @extend .container;
    width: 212px;
    margin-bottom: 113px;
}
}

.item-product {
  width: 263px;
  position: relative;
  margin-bottom: 39px;
  .product {
    text-decoration: none;
}
  .product-img {
    display: block;
    margin: 0 auto;
}
  .product-img > img {
    position: absolute;
}
  .product-text {
    padding: 15px;
    .name-product {
      @include text-rules(#222222, 13px, 400, 11px);
      text-transform: uppercase;
      margin-bottom: 15px;
  }
    .price-product {
      @include text-rules($pink-color, 16px, 700, 15px);
      text-transform: uppercase;
  }
}
  .add-flex {
    position: absolute;
    top: 98px;
    display: none;
    justify-content: center;
    width: 263px;
    .add-to-cart {
      @include text-rules($white-color, 13px, 700, 39px);
      display: flex;
      border: 1px solid #ffffff;
      padding-left: 15px;
      padding-right: 15px;
      text-decoration: none;
      background-color: rgba(255,255,255,0);
  }

}
}

.item-product:hover {
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
  transform: scale(1.1, 1.1);
  transition: all 0.2s;
}

.item-product:hover .add-flex {
  display: flex;
}

.item-product:hover .add-flex .add-to-cart:hover {
  color: $pink-color;
  border-color: $pink-color;
}

.item-product:hover .product-img {
  filter: brightness(50%);
}

.offer {
  display: flex;
  padding-left: 37px;
  @extend .container;
  .offer_text {
    background-image: url(img/Offer.png);
    width: 767px;
    height: 529px;
    .offer1 {
      @include text-rules($white-color, 54px, 700, 40px);
      padding-left: 39px;
      padding-top: 146px;
      padding-bottom: 8px;
  }
    .offer2 {
      @include text-rules($white-color, 32px, 600, 30px);
      color: #ffffff;
      font-size: 32px;
      letter-spacing: 0.9px;
      padding-left: 39px;
  }
}
  .offer_sale {
    width: 373px;
    height: 529px;
    background-color: #222224;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
  .offer-com {
    display: flex;
    padding-left: 37px;
}
}




.o_text {
  @include text-rules(#fbfbfb, 14px, 300, 24px);
  width: 219px;
  padding-bottom: 9px;
}

.o_title {
  padding-bottom: 21px;
  text-align:center;
  @include text-rules(#fbfbfb,20px,700,20px);
}

.all_text {
  display: flex;
  flex-direction: column;
  padding-left: 33px;
  color: #fbfbfb;
}




.comments {
  margin: 0 auto;
  width:1600px;
  margin-top: 97px;
  height: 438px;
    padding-bottom: 168px;
  background: url(img/beach.png) no-repeat, white;
  .comments_left {
    padding-left: 230px;
    padding-top: 111px;
    display: flex;
    .comments_text {
      padding-left: 28px;
      padding-top: 12px;
  }
    .text_up {
      @include text-rules(#222224, 16px, 700, 26px);
      width: 390px;
      padding-bottom: 19px;
      font-style: italic;
  }
    .text_down {
      @include text-rules($pink-color, 16px, 700, 26px);
      letter-spacing: 0.4px;
  }
}
  .comments_right {
    padding-left: 171px;
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    .subscribe {
      @include text-rules(#222224, 24px, 400, 54px);
      text-transform: uppercase;
      padding-left: 118px;
  }
    .subscribe2 {
      @include text-rules(#222224, 14px, 400, 24px);
      padding-bottom: 35px;
      padding-left: 48px;
  }
    .email {
      display: flex;
  }
    .comments__button-pink {
      width: 104px;
      border-radius: 0 23px 23px 0;
      box-sizing: border-box;
  }
    .input-subscribe {
      @include text-rules(#222224, 14px, 400, 46px);
      width: 282px;
      height: 46px;
      border-radius: 23px 0 0 23px;
      background-color: #e1e1e1;
      padding-left: 16px;
      padding-right: 16px;
      box-sizing: border-box;
  }
}
}

.footer {
  margin: 0 auto;
  width:1600px;
  .navigator {
    padding-top: 109px;
    @extend .container;
    .navigator_left {
      display: flex;
  }
    .navigator-text {
      @include text-rules(#898989, 14px, 300, 24px);
      padding-top: 29px;
      width: 430px;
  }
    .navigator_right {
      display: flex;
      padding-left: 60px;
      height: 238px;
      width: 638px;
      justify-content: space-between;
  }

    .menu_2 {
      @include text-rules($pink-color, 18px, 700, 26px);
      text-transform: uppercase;
  }
    .menu_navigator_down {
      display: flex;
      list-style-type: none;
      justify-content: center;
      flex-direction: column;
  }
    .menu_navigator {
      @include text-rules(#898989, 16px, 400, 59px);
      text-decoration: none;
      display: block;
  }
    .menu_navigator:hover {
      color: $pink-color;
  }

}
  .down {
    display: flex;
    margin-top: 89px;
    height: 79px;
    background-color: #e6e6e6;
    align-items: center;
    justify-content: space-between;
    .down_c {
      @include text-rules(#7a7a7a, 16px, 400, 42px);
      padding-top: 33px;
      padding-left: 100px;
  }
    .icons {
      padding-right: 230px;
      display: flex;
  }
    .icons-link {
      width: 32px;
      height: 32px;
      background-color: #ffffff;
      line-height: 32px;
      display: block;
      color: #b2b2b2;
      margin-left: 8px;
      text-align: center;
  }
    .icons-link:hover {
      background-color: $pink-color;
      color: #f7f7f8;
  }
}
}


.SinglePageUp {
  margin: 0 auto;
  width:1600px;
  height: 958px;
  background-color: #f8f3f4;
  display: flex;
  flex-direction: column;
  position: relative;
  .SPUpText {
    @extend .container;
    display: flex;
    justify-content: space-between;
    .NewArrivalsUpLeft {
      @include text-rules($pink-color, 24px, 400, 20px);
      padding-top: 65px;
      padding-bottom: 65px;
      text-transform: uppercase;
  }
    .NewArrivals {
      @include text-rules(#636363, 14px, 300, 20px);
      padding-top: 69px;
      padding-bottom: 68px;
      text-transform: uppercase;
      text-decoration: none;
  }
    .NewArrivals:hover {
      color: $pink-color;
  }
    .us {
      display: flex;
      justify-content: center;
  }
}
  .SPUpGirl {
    display: flex;
    height: 100%;
    border: 1px solid #eaeaea;
    background-color: #f7f7f7;
    justify-content: space-between;
    .circles {
      margin-top: 365px;
      display: block;
      width: 47px;
      height: 47px;
      line-height: 47px;
      background-color: darkgrey;
      color: $white-color;
      text-align: center;
  }
    .circles:hover {
      background-color: #f16d7f;
      color: darkgrey;
  }
    .SPUpGirlImage {
      width: 597px;
      height: 724px;
      padding-top: 11px;
  }
}
}

.SPCenter {
  @extend .container;
  display: flex;
  flex-direction: column;
  height: 730px;
  border: 1px solid #eaeaea;
  background-color: $white-color;
  margin-bottom: 119px;
  z-index: 1;
  position: relative;
  margin-top: -80px;
  text-align: center;
  .Women-collection {
    @include text-rules($pink-color, 14px, 700, 24px);
    text-transform: uppercase;
    justify-content: center;
    padding-top: 73px;
}
  .border-women {
    margin-left: 498px;
    width: 147px;
    border: $border-grey-4;
}
  .border-women:hover {
    width: 147px;
    border: 1px solid #ef5b70;
}
  .Moschino {
    @include text-rules(#4d4d4d, 18px, 400, 24px);
    text-transform: uppercase;
}
  .women-star {
    color: #e4af48;
    padding-top: 24px;
    padding-bottom: 28px;
}
  .Moschino-text {
    @include text-rules(#5e5e5e, 14px, 300, 24px);
    padding-left: 262px;
    width: 618px;
}
  .Moschino-material {
    @include text-rules(#b9b9b9, 14px, 700, 24px);
    padding-top: 28px;
    text-transform: uppercase;
}
  .Moschino-price {
    @include text-rules(#ef5b70, 24px, 700, 24px);
    padding-top: 37px;
}
  .Moschino-border {
    margin-top: 43px;
    margin-left: 250px;
    width: 642px;
    border: $border-grey-4;
    background-color: #ef5b70;
}
  .features {
    margin-left: 315px;
    margin-top: 50px;
    display: flex;
    .feature-text {
      @include text-rules(#2f2f2f, 14px, 700, 24px);
      text-transform: uppercase;
      padding-right: 90px;
      padding-bottom: 16px;
  }
    .choose-color {
      margin-right: 90px;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 12px;
      padding-bottom: 12px;
      @include text-rules(#bcbcbc, 13px, 400, 24px);
      width: 144px;
      height: 35px;
      border: $border-grey-4;
      background-color: $white-color;
      text-decoration: none;
  }
    .choose-color:hover {
      color: $pink-color;
      border: $border-pink;
  }
}
  .SPCenter__button-white {
    @extend .container;
    margin-top: 40px;
    width: 537px;
}
}

.you-may {
  @extend .container;
  .you-may-text {
    @include text-rules(#4d4d4d, 24px, 400, 20px);
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    padding-bottom: 72px;
}
  .SP-box-product {
    padding-top: 59px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
  .fon-product {
    width: 261px;
    height: 280px;
    background-color: #f8f7f6;
}
  .item-product:hover .fon-product {
    filter: brightness(50%);
}
}


.Cart-SinglePageUp {
  margin: 0 auto;
  width:1600px;
  margin-bottom: 60px;
  height: 148px;
  background-color: #f8f3f4;
  display: flex;
  flex-direction: column;
  position: relative;
  .Cart-SPUpText {
    @extend .container;
    display: flex;
    justify-content: space-between;
    .Cart-NewArrivalsUpLeft {
      @include text-rules($pink-color, 24px, 400, 20px);
      padding-top: 65px;
      padding-bottom: 65px;
      text-transform: uppercase;
  }
    .Cart-us {
      display: flex;
      justify-content: center;
      margin-top: 70px;
  }

    .Cart-NewArrivals {
      @include text-rules(#636363, 14px, 300, 20px);

      padding-bottom: 68px;
      text-transform: uppercase;
      text-decoration: none;
  }
    .Cart-NewArrivals:hover {
      color: $pink-color;
  }
}
}

.details {
  @extend .container;
  .product-details {
    display: flex;
    margin-top: 20px;
    width: 1147px;
    justify-content: space-between;
    .product-content-left {
      display: flex;
      width: 488px;
  }
    .product-content-word {
      @include text-rules(#222222, 13px, 700, 20px);
      text-transform: uppercase;
  }
    .clothes-name {
      @include text-rules(#222222, 13px, 400, 11px);
      text-transform: uppercase;
      padding-bottom: 40px;
      text-decoration: none;
  }
    .clothes-name:hover {
      color: $pink-color;
  }
    .clothes-information {
      @include text-rules(black, 13px, 400, 31px);
  }
    .clothes-txt {
      width: 389px;
      padding-right: 2px;
      padding-left: 20px;
  }

    .product-content-right {
      display: flex;
      justify-content: space-around;
      width: 659px;
  }
    .clothes-price {
      padding-top: 40px;
      @include text-rules(#656565, 13px, 400, 20px);
  }
    .choose-number {
      margin-top: 40px;
      width: 54px;
      height: 25px;
      @include text-rules(#656565, 13px, 400, 25px);
      border: $border-grey-4;
      background-color: $white-color;
      text-align: center;
      text-decoration: none;
  }
    .clothes-free {
      padding-top: 40px;
      @include text-rules(#656565, 13px, 400, 20px);
      text-transform: uppercase;
  }
}
  .choice-button {
    display: flex;
    margin-top: 44px;
    justify-content: space-between;
    .details__button-white {
      margin-top: 44px;
      width: 225px;
  }
}
}

.clothes-cancel {
  color: #c0c0c0;
  padding-top: 40px;
}
.clothes-cancel:hover {
  color: red;
}


.product-details-border-1 {
  @extend .container;
  width: 1140px;
  border: $border-grey-4;
}

.all-client {
  @extend .container;
  display: flex;
  justify-content: space-between;
  .contacts-client {
    width: 355px;
    flex-direction: column;
    display: flex;
    margin-top: 63px;
    .address {
      @include text-rules(#222222, 16px, 700, 13px);
      text-transform: uppercase;
  }
    .address-opinion {

      flex-direction: column;
      height: 45px;
      margin-top: 20px;
      border: $border-grey-4;
      background-color: $white-color;
      @include text-rules(#b1b1b1, 13px, 300, 45px);
      text-decoration: none;
      padding-left: 16px;
      padding-right: 16px;
  }
    .address-opinion:hover {
      border: $border-pink;
  }
    .all-client__button-white {
      margin-top: 23px;
      width: 118px;

  }
    .enter-address {
      padding-top: 28px;
      @include text-rules( #000000, 14px, 300, 14px);
  }
}

  .contacts-total {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    width: 360px;
    height: 214px;
    background-color: #f5f3f3;
    padding-right: 40px;
    .sub-total {
      display: flex;
      @include text-rules(#4a4a4a, 11px, 400, 12px);
      text-transform: uppercase;
      padding-top: 40px;
      justify-content: flex-end;
  }
    .sub-total-2 {
      display: flex;
      @include text-rules(#222222, 16px, 700, 16px);
      text-transform: uppercase;
      padding-top: 14px;
      justify-content: flex-end;
  }
    .contacts-border {
      width: 275px;
      height: 1px;
      background-color: #e2e2e2;
      margin-top: 22px;
      margin-left: 84px;
  }
    .all-client__button-pink {
      margin-left: 84px;
      width: 273px;
      margin-top: 17px;
      line-height: 50px;
      font-size: 16px;
      font-weight: 700;
      text-transform: uppercase;
  }
}
}


.information-name {
  @extend .container;
  @include text-rules(#222222, 16px, 700, 13px);
  text-transform: uppercase;
  .drop-checkout {}
}

.information-write {
  padding-top: 10px;
  display: flex;
  @extend .container;
  justify-content: space-between;
  .name-types {
    padding-bottom: 15px;
    @include text-rules(#222222, 13px, 400, 11px);
    text-transform: uppercase;
}
  .name-explain {
    padding-bottom: 15px;
    @include text-rules(#b3b2b2, 13px, 400, 12px);
}
  .information-write__button-white {
    margin-top: 75px;
    width: 180px;
    margin-bottom: 20px;
}
  .information-write__button-white-right {
    margin-top: 60px;
    width: 180px;
}
  .information-left {
    padding-left: 35px;
}
  .information-right {
    .note {
      color: red;
  }
    .information-writing {
      width: 390px;
      border: $border-grey-4;
      background-color: $white-color;
      @include text-rules(#b1b1b1, 13px, 300, 45px);
      padding-left: 16px;
      padding-right: 16px;
  }
    .information-writing:hover {
      border: $border-pink;
  }
    .right-two {
      display: flex;
  }

}
}



.product-page {
  display: flex;
  @extend .container;
}

.product-catalog {
  margin-right: 50px;
  .category-catalog {
    display: flex;
    padding-top: 18px;
    .pinking-border {
      width: 5px;
      height: 37px;
      background-color: $pink-color;
  }
    .categories {
      @include text-rules($pink-color, 14px, 700, 20px);
      padding-left: 11px;
      padding-top: 10px;
      text-transform: uppercase;
  }
    .icon-up-dir {
      padding-left: 145px;
      padding-top: 14px;
      color: $pink-color;
  }
    .icon-down-dir {
      padding-left: 145px;
      padding-top: 14px;
      color: #6f6e6e;
  }
}
  .short-border {
    width: 248px;
    border: $border-grey-4;
}
  .name-catalog {
    display: flex;
    flex-direction: column;
    @include text-rules(#6f6e6e, 14px, 400, 33px);
    padding-left: 17px;
    text-decoration: none;

}
  .name-catalog:hover {
    color: $pink-color;
}
}

.product-information {}

.text-information {
  display: flex;
  .information-box {
    display: flex;
    flex-wrap: wrap;
}
  .trend-information {
    width: 177px;
    margin-right: 114px;
    .trend-var {
      @include text-rules(#6f6e6e, 14px, 400, 26px);
  }
    .trend-var:hover {
      color: $pink-color;
  }
}
  .price-h3 {
    padding-bottom: 26px;
    @include text-rules(#6f6e6e, 14px, 700, 20px);
    padding-top: 10px;
    text-transform: uppercase;
}

  .size-information {

    margin-right: 58px;
    width: 250px;
    .size-value {
      display: flex;
      padding-right: 22px;
      padding-bottom: 8px;
      @include text-rules(#6f6e6e, 14px, 400, 20px);
  }
    .size-value:hover{
      color: $pink-color;
  }
}
  .price-information {
    .price-line {

      width: 262px;
      height: 6px;
      border-radius: 3px;
      background-color: #f0f0f0;
  }
    .price-line:hover{
      background-color:$pink-color;
  }
    .price-ranges {
      padding-top: 27px;
      display: flex;
      justify-content: space-between;
  }
    .price-range {
      @include text-rules(#6f6e6e, 14px, 400, 26px);
  }
}
}

.sort-information {
  display: flex;
  margin-top: 47px;
  width: 846px;
  height: 50px;
  background-color: #f3f3f3;
  .icon-down-dir{
    margin-top: 6px;
    margin-left: 20px;
}
  .sort-by {
    display: flex;
    margin-top: 10px;
    margin-left: 9px;
    width: 153px;
    height: 30px;
    border: 1px solid #ebebeb;
    background-color: #ffffff;
}
  .sort-name {
    @include text-rules(#6f6e6e, 14px, 400, 26px);
  }
  .horizontal {
    margin-left: 8px;
    margin-right: 8px;
    height: 28px;
    border: 1px solid #ebebeb;
  }
  .show {
    display: flex;
    margin-top: 10px;
    margin-left: 10px;
    width: 119px;
    height: 30px;
    border: 1px solid #ebebeb;
    background-color: $white-color;
  }
  .drop-sort {
    //display: flex;
    margin-top: 30px;
    margin-left: -67px;
    width: 130px;
    padding-top: 10px;
    background-color: $white-color;
    border: 1px solid #ebebeb;
    height: max-content;
    z-index: 2;
    padding-left: 8px;
  }
}

.product-images {
  display: flex;
  flex-wrap: wrap;
  margin-top: 58px;
  justify-content: space-between;
  .columns {
    display: flex;
    flex-direction: column;
    .both {
      display: flex;
      justify-content: space-around;
  }
    .circle-like {
      display: flex;
      justify-content: center;
      border: 1px solid #ffffff;
      margin-top: 8px;
      width: 57px;
      height: 38px;
      background-color: rgba(255,255,255,0);
  }
    .circle-like:hover {
      border-color: $pink-color;
  }
}

}


.product-numbers {
  display: flex;
  justify-content: space-between;
  margin-top: 64px;
  .numbers {
    display: flex;
    width: 261px;
    height: 44px;
    border-radius: 3px;
    border: 1px solid #ebebeb;
    background-color: #ffffff;
    padding-top: 17px;
    justify-content: space-around;
    .icon-left-open {
      padding-top: 5px;
      color: #aaaaaa;
  }
    .numbers-pages {
      @include text-rules( #c4c4c4, 16px, 400, 26px);
  }
    .numbers-pages:hover{
      color:$pink-color;
  }
    .icon-right-open {
      padding-top: 5px;
      color: $pink-color;
  }
}
  .product-page__button-white {
    width: 150px;
    height: 44px;
    line-height: 44px;
}
}

.offer_sale_2 {
  margin: 0 auto;
  width:1600px;
  margin-top: 110px;
  display: flex;
  justify-content: space-around;

  margin-bottom: -96px;

  height: 341px;
  background-color: #222224;
  .offer-com {
    width: 309px;
    padding-top: 89px;

    .o_title {
      width: 309px;

  }
    .o_text {
      width: 310px;
  }
    .image-sale-2 {
      justify-content: center;
        padding-bottom: 23px;
  }
}
}

//прижать footer

.container-footer {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.comments {
  flex: 1;
}

//цвета
.black-password {
  padding-top: 60px;
  font-size: 13px;
  font-weight: 400;
  line-height: 12px;
  color:black;
  padding-left: 5px;

}

.black {
  color: black;
}
.pink {
  color: $pink-color;
}
.red {
  color: red;
}
.grey {
color:  #6f6e6e;
}
.black-light {
  color: #2f2f2f;
}
.mega-menu-img {
  margin-left:-17px;
  padding-top:10px;
}
.small {
  margin-left: 5px;
}
.smallTwo{
  margin-top: -7px;
}

.addImage {
  height: 115px;
  padding-right: 10px;
}
.addImage:hover {
  transform: scale(1.1, 1.1);
  transition: all 0.2s;
}

.feedback {
  @extend .container;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 20px;
  justify-content: space-around;
  margin-top: -80px;
  margin-bottom: 30px;
  .comment {
    justify-content: space-evenly;
    padding: 10px;
    width: 250px;
    border-radius: 3%;
    border: 2px solid $pink-color;
    margin-bottom: 20px;
}
  .approved {
    background-color: $pink-color;
    color:$white-color;
}
  .not-approved {
    background-color: $white-color;
    color:$pink-color;
}
  .approve-btn, .remove-btn, .add-btn {
    width: 100px;
    margin: 5px;
    border-radius: 10%;
    color: $pink-color;
    background-color: $white-color;
    border: 1px solid $pink-color;
    padding: 5px;
}
  .approve-btn:hover, .remove-btn:hover, .add-btn:hover {
    color:$white-color;
    background-color: $pink-color;
}
  .add-btn {
    margin-left: 140px;
}
}

.button-add {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  .button-white {
    padding-right: 20px;
    padding-left: 20px;
    background-color: $pink-color;
    color: $white-color;
}
  .button-white:hover {
    border: 1px solid $pink-color;
    color: $pink-color;
    background-color: $white-color;
}
}

.myForm {
  display: flex;
  flex-direction: column;
  margin-left: 630px;
  padding: 20px;
  color:$pink-color;
  margin-bottom: 50px;
  border-radius: 3%;
  border: 2px solid $pink-color;
  width: 380px;
  .authorFeedback {
    color:$pink-color;
    margin-left: 7px;
    padding: 5px;
    width: 250px;
    border: 1px solid $pink-color;
}
  .textFeedback {
    font-size: 17px;
    margin-top: -14px;
    margin-left: 90px;
    margin-bottom: 10px;
    padding: 5px;
    width: 250px;
    border: 1px solid $pink-color;
    color: $pink-color;
}
  .addFeedback {
    width: 130px;
    margin-left: 130px;
    border-radius: 10%;
    color: $pink-color;
    background-color: $white-color;
    border: 1px solid $pink-color;
    padding: 5px;
}
  .addFeedback:hover {
    color:$white-color;
    background-color: $pink-color;
}
}
.hidden {
  display: none;
}