.button-pink {
  text-align: center;
  display: block;
  color: #ffffff;
  font-size: 15px;
  font-weight: 400;
  line-height: 38px;
  background-color: #f16d7f;
  color: #ffffff;
  text-decoration: none;
  border: 1px solid transparent;
  transition: all 0.2s;
}

.button-pink:hover {
  background-color: #ffffff;
  color: #f16d7f;
  border: 1px solid #f16d7f;
}

.button-white {
  display: block;
  text-align: center;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  text-decoration: none;
  color: #4a4a4a;
  font-size: 14px;
  font-weight: 700;
  line-height: 50px;
  text-transform: uppercase;
  transition: all 0.2s;
}

.button-white:hover {
  color: #f16d7f;
  border: 1px solid #f16d7f;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
  min-height: 100%;
}

.container, .header .header-flex, .slider .slider-flex, .offers-flex, .future-items, .future-items .future-items__button-pink, .offer, .footer .navigator, .SinglePageUp .SPUpText, .SPCenter, .SPCenter .SPCenter__button-white, .you-may, .Cart-SinglePageUp .Cart-SPUpText, .details, .product-details-border-1, .all-client, .information-name, .information-write, .product-page, .feedback {
  width: 1140px;
  margin: 0 auto;
}

.logo {
  display: flex;
  text-decoration: none;
  color: #222222;
  text-align: center;
}
.logo .logo-text {
  margin-top: 20px;
  margin-left: 13px;
}
.logo .logo-text:hover {
  color: #f16d7f;
}

.header {
  margin: 0 auto;
  width: 1600px;
  height: 100px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.17);
  border: 1px solid #ececec;
  background-color: #ffffff;
}
.header .header-flex {
  display: flex;
  justify-content: space-between;
  height: 100%;
}
.header .header-left {
  display: flex;
  align-items: center;
}
.header .header-right {
  display: flex;
  align-items: center;
  position: relative;
}
.header .menu__list-br {
  position: relative;
  display: flex;
  z-index: 2;
}
.header .menu__list-br:hover .mega-menu-br {
  display: flex;
}
.header .browse {
  color: #222222;
  font-size: 14px;
  font-weight: 700;
  line-height: 38px;
  margin-left: 50px;
  border-radius: 3px 0 0 3px;
  border: 1px solid #e6e6e6;
  background-image: linear-gradient(to bottom, #f9f9f9 0%, #f5f5f5 100%);
  display: block;
  width: 87px;
  text-align: center;
  text-decoration: none;
  transition: all 0.2s;
}
.header .browse:hover {
  color: #f16d7f;
}
.header .mega-menu-br {
  border-radius: 5px;
  background-color: #ffffff;
  padding: 20px;
  position: absolute;
  display: none;
  border: 1px solid #e6e6e6;
  top: 40px;
  left: 45px;
}
.header .mega-menu-br:after {
  content: "";
  width: 12px;
  height: 12px;
  background-color: #ffffff;
  display: block;
  position: absolute;
  top: -8px;
  left: 70px;
  transform: rotate(45deg);
  border-top: 1px solid #e6e6e6;
  border-left: 1px solid #e6e6e6;
}
.header .form {
  display: flex;
  margin-right: 350px;
}
.header .form .input-header {
  width: 317px;
  height: 40px;
  border-radius: 0 3px 3px 0;
  border: 1px solid #e6e6e6;
  background-color: #ffffff;
  font-size: 14px;
  font-weight: 300;
  padding-left: 16px;
  padding-right: 16px;
  box-sizing: border-box;
}
.header .form .icon-search {
  text-decoration: none;
  border: 1px solid #e6e6e6;
  width: 36px;
  height: 38px;
  background-color: #ffffff;
  color: #a4a4a4;
  text-align: center;
  line-height: 38px;
}
.header .form .icon-search:hover {
  color: #f16d7f;
}
.header .cart-buy {
  width: 32px;
  height: 32px;
  background-color: #ffffff;
  display: block;
  margin-left: 8px;
  text-decoration: none;
  margin-right: 10px;
}
.header .cart-buy .guantityDrop {
  margin-top: -50px;
  margin-left: 30px;
  line-height: 25px;
  color: #f16d7f;
  background-color: #ffffff;
  border: 1px solid #f16d7f;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  display: flex;
  justify-content: center;
}
.header .cart-buy:hover {
  background-color: #f16d7f;
}
.header .cart-buy-last {
  border-radius: 5px;
  background-color: #ffffff;
  padding: 20px;
  position: absolute;
  z-index: 2;
  display: none;
  border: 1px solid #e6e6e6;
  top: 37px;
  left: -52px;
}
.header .cart-buy-last:after {
  content: "";
  width: 12px;
  height: 12px;
  background-color: #ffffff;
  display: block;
  position: absolute;
  top: -8px;
  left: 70px;
  transform: rotate(45deg);
  border-top: 1px solid #e6e6e6;
  border-left: 1px solid #e6e6e6;
}
.header .header-right:hover .cart-buy-last {
  display: flex;
}
.header .cart1 {
  display: flex;
  justify-content: right;
  padding-bottom: 16px;
}
.header .cart1 .drop-price {
  display: flex;
  justify-content: left;
}
.header .cart1 .cart1-2-text {
  color: #222222;
  font-size: 12px;
  font-weight: 700;
  line-height: 10px;
  text-decoration: none;
  text-transform: uppercase;
}
.header .cart1 .cart1-2-text:hover {
  color: #f16d7f;
}
.header .cart1 .cart1-2-star {
  margin-top: 10px;
  color: #e4af48;
}
.header .cart1 .cart1-2-price {
  color: #f16d7f;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  padding-top: 12px;
  text-transform: uppercase;
}
.header .cart1 .cart1-3 {
  padding-top: 35px;
  color: #c0c0c0;
}
.header .cart1 .cart1-3:hover {
  color: red;
}
.header .cart-line {
  border-bottom: 1px solid #e8e8e8;
  width: 229px;
  height: 1px;
  background-color: #ededed;
  margin-bottom: 16px;
}
.header .total-all {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}
.header .total-all .cart-total {
  color: #222222;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
}
.header .header__button-white {
  width: 225px;
  margin-bottom: 11px;
}
.header .header__button-pink {
  width: 130px;
  margin-left: 26px;
}

.mega-flex {
  width: 250px;
  margin-right: 46px;
}
.mega-flex .mega-menu__heading {
  color: #232323;
  font-size: 14px;
  font-weight: 400;
  line-height: 32px;
  text-transform: uppercase;
  border-bottom: 1px solid #e8e8e8;
}
.mega-flex .mega-menu__list {
  list-style-type: none;
}
.mega-flex .mega-menu__link {
  color: #646464;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  text-decoration: none;
}
.mega-flex .mega-menu__link:hover {
  color: #f16d7f;
}

.mega-flex:last-of-type {
  margin-right: 0;
}

.navigation {
  background-color: #ffffff;
}
.navigation .menu {
  display: flex;
  list-style-type: none;
  justify-content: center;
}
.navigation .menu__list {
  position: relative;
}
.navigation .menu__list:hover .mega-menu {
  display: flex;
}
.navigation .menu_link {
  color: #222222;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  text-decoration: none;
  display: block;
  padding: 20px;
}
.navigation .menu_link:hover {
  color: #f16d7f;
}
.navigation .mega-menu {
  border-radius: 5px;
  background-color: #ffffff;
  padding: 20px;
  position: absolute;
  display: none;
  border: 1px solid #e6e6e6;
  top: 50px;
  left: -8px;
  z-index: 2;
}
.navigation .mega-menu:after {
  content: "";
  width: 12px;
  height: 12px;
  background-color: #ffffff;
  display: block;
  position: absolute;
  top: -8px;
  left: 36px;
  transform: rotate(45deg);
  border-top: 1px solid #e6e6e6;
  border-left: 1px solid #e6e6e6;
}

.slider {
  margin: 0 auto;
  width: 1600px;
  height: 613px;
  background-color: #e8e8e8;
}
.slider .slider-flex {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-image: url(img/slider_back.png);
  background-position: 0 -50px;
}
.slider .slider-flex .box-slider-text {
  margin-top: 224px;
  border-left: 12px solid #f16d7f;
  padding-left: 12px;
}
.slider .slider-flex .slider-heading {
  color: #222222;
  font-size: 60px;
  font-weight: 700;
  line-height: 45px;
  margin-bottom: 20px;
}
.slider .slider-flex .slider-text {
  color: #222222;
  font-size: 40px;
  line-height: 32px;
}

.offers-flex {
  padding-top: 98px;
  padding-bottom: 100px;
  display: flex;
  justify-content: space-between;
}
.offers-flex .offer-text {
  color: #222222;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  padding-left: 19px;
  padding-top: 16px;
  padding-bottom: 2px;
}
.offers-flex .offer-text2 {
  color: #f16d7f;
  font-size: 30px;
  font-weight: 400;
  line-height: 25px;
  padding-left: 19px;
}
.offers-flex .offer-big {
  display: flex;
  background-image: url(img/left_big.png);
  width: 560px;
  height: 542px;
}
.offers-flex .offer-big .border {
  margin-top: 26px;
  height: 82px;
  padding-right: 15px;
  background-color: #ffffff;
}
.offers-flex .offer-mini {
  display: flex;
  background: url(img/left_mini.png);
  width: 560px;
  height: 261px;
}
.offers-flex .offer-mini .border3 {
  margin-top: 25px;
  height: 82px;
  padding-right: 15px;
  background-color: #ffffff;
}
.offers-flex .offer-mini2 {
  display: flex;
  background-image: url(img/right_mini.png);
  width: 560px;
  height: 261px;
}
.offers-flex .offer-mini2 .border2 {
  margin-top: 26px;
  height: 82px;
  padding-right: 15px;
  background-color: #ffffff;
}
.offers-flex .offer-big2 {
  display: flex;
  background-image: url(img/right_big.png);
  width: 560px;
  height: 542px;
}
.offers-flex .border4 {
  margin-top: 27px;
  height: 82px;
  padding-right: 15px;
  background-color: #ffffff;
}
.offers-flex .offer-effect {
  text-decoration: none;
}
.offers-flex .offer-effect:hover {
  filter: contrast(175%);
}

.offers-flex > div > div:first-of-type {
  margin-bottom: 20px;
}

.future-items .items {
  color: #222222;
  font-size: 30px;
  font-weight: 700;
  line-height: 23px;
  text-align: center;
  padding-bottom: 16px;
}
.future-items .items2 {
  color: #9f9f9f;
  font-size: 14px;
  font-weight: 400;
  line-height: 12px;
  text-align: center;
}
.future-items .box-product {
  padding-top: 59px;
  padding-bottom: 59px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.future-items .future-items__button-pink {
  width: 212px;
  margin-bottom: 113px;
}

.item-product {
  width: 263px;
  position: relative;
  margin-bottom: 39px;
}
.item-product .product {
  text-decoration: none;
}
.item-product .product-img {
  display: block;
  margin: 0 auto;
}
.item-product .product-img > img {
  position: absolute;
}
.item-product .product-text {
  padding: 15px;
}
.item-product .product-text .name-product {
  color: #222222;
  font-size: 13px;
  font-weight: 400;
  line-height: 11px;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.item-product .product-text .price-product {
  color: #f16d7f;
  font-size: 16px;
  font-weight: 700;
  line-height: 15px;
  text-transform: uppercase;
}
.item-product .add-flex {
  position: absolute;
  top: 98px;
  display: none;
  justify-content: center;
  width: 263px;
}
.item-product .add-flex .add-to-cart {
  color: #ffffff;
  font-size: 13px;
  font-weight: 700;
  line-height: 39px;
  display: flex;
  border: 1px solid #ffffff;
  padding-left: 15px;
  padding-right: 15px;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0);
}

.item-product:hover {
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
  transform: scale(1.1, 1.1);
  transition: all 0.2s;
}

.item-product:hover .add-flex {
  display: flex;
}

.item-product:hover .add-flex .add-to-cart:hover {
  color: #f16d7f;
  border-color: #f16d7f;
}

.item-product:hover .product-img {
  filter: brightness(50%);
}

.offer {
  display: flex;
  padding-left: 37px;
}
.offer .offer_text {
  background-image: url(img/Offer.png);
  width: 767px;
  height: 529px;
}
.offer .offer_text .offer1 {
  color: #ffffff;
  font-size: 54px;
  font-weight: 700;
  line-height: 40px;
  padding-left: 39px;
  padding-top: 146px;
  padding-bottom: 8px;
}
.offer .offer_text .offer2 {
  color: #ffffff;
  font-size: 32px;
  font-weight: 600;
  line-height: 30px;
  color: #ffffff;
  font-size: 32px;
  letter-spacing: 0.9px;
  padding-left: 39px;
}
.offer .offer_sale {
  width: 373px;
  height: 529px;
  background-color: #222224;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.offer .offer-com {
  display: flex;
  padding-left: 37px;
}

.o_text {
  color: #fbfbfb;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  width: 219px;
  padding-bottom: 9px;
}

.o_title {
  padding-bottom: 21px;
  text-align: center;
  color: #fbfbfb;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
}

.all_text {
  display: flex;
  flex-direction: column;
  padding-left: 33px;
  color: #fbfbfb;
}

.comments {
  margin: 0 auto;
  width: 1600px;
  margin-top: 97px;
  height: 438px;
  padding-bottom: 168px;
  background: url(img/beach.png) no-repeat, white;
}
.comments .comments_left {
  padding-left: 230px;
  padding-top: 111px;
  display: flex;
}
.comments .comments_left .comments_text {
  padding-left: 28px;
  padding-top: 12px;
}
.comments .comments_left .text_up {
  color: #222224;
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  width: 390px;
  padding-bottom: 19px;
  font-style: italic;
}
.comments .comments_left .text_down {
  color: #f16d7f;
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0.4px;
}
.comments .comments_right {
  padding-left: 171px;
  padding-top: 25px;
  display: flex;
  flex-direction: column;
}
.comments .comments_right .subscribe {
  color: #222224;
  font-size: 24px;
  font-weight: 400;
  line-height: 54px;
  text-transform: uppercase;
  padding-left: 118px;
}
.comments .comments_right .subscribe2 {
  color: #222224;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  padding-bottom: 35px;
  padding-left: 48px;
}
.comments .comments_right .email {
  display: flex;
}
.comments .comments_right .comments__button-pink {
  width: 104px;
  border-radius: 0 23px 23px 0;
  box-sizing: border-box;
}
.comments .comments_right .input-subscribe {
  color: #222224;
  font-size: 14px;
  font-weight: 400;
  line-height: 46px;
  width: 282px;
  height: 46px;
  border-radius: 23px 0 0 23px;
  background-color: #e1e1e1;
  padding-left: 16px;
  padding-right: 16px;
  box-sizing: border-box;
}

.footer {
  margin: 0 auto;
  width: 1600px;
}
.footer .navigator {
  padding-top: 109px;
}
.footer .navigator .navigator_left {
  display: flex;
}
.footer .navigator .navigator-text {
  color: #898989;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  padding-top: 29px;
  width: 430px;
}
.footer .navigator .navigator_right {
  display: flex;
  padding-left: 60px;
  height: 238px;
  width: 638px;
  justify-content: space-between;
}
.footer .navigator .menu_2 {
  color: #f16d7f;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
}
.footer .navigator .menu_navigator_down {
  display: flex;
  list-style-type: none;
  justify-content: center;
  flex-direction: column;
}
.footer .navigator .menu_navigator {
  color: #898989;
  font-size: 16px;
  font-weight: 400;
  line-height: 59px;
  text-decoration: none;
  display: block;
}
.footer .navigator .menu_navigator:hover {
  color: #f16d7f;
}
.footer .down {
  display: flex;
  margin-top: 89px;
  height: 79px;
  background-color: #e6e6e6;
  align-items: center;
  justify-content: space-between;
}
.footer .down .down_c {
  color: #7a7a7a;
  font-size: 16px;
  font-weight: 400;
  line-height: 42px;
  padding-top: 33px;
  padding-left: 100px;
}
.footer .down .icons {
  padding-right: 230px;
  display: flex;
}
.footer .down .icons-link {
  width: 32px;
  height: 32px;
  background-color: #ffffff;
  line-height: 32px;
  display: block;
  color: #b2b2b2;
  margin-left: 8px;
  text-align: center;
}
.footer .down .icons-link:hover {
  background-color: #f16d7f;
  color: #f7f7f8;
}

.SinglePageUp {
  margin: 0 auto;
  width: 1600px;
  height: 958px;
  background-color: #f8f3f4;
  display: flex;
  flex-direction: column;
  position: relative;
}
.SinglePageUp .SPUpText {
  display: flex;
  justify-content: space-between;
}
.SinglePageUp .SPUpText .NewArrivalsUpLeft {
  color: #f16d7f;
  font-size: 24px;
  font-weight: 400;
  line-height: 20px;
  padding-top: 65px;
  padding-bottom: 65px;
  text-transform: uppercase;
}
.SinglePageUp .SPUpText .NewArrivals {
  color: #636363;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  padding-top: 69px;
  padding-bottom: 68px;
  text-transform: uppercase;
  text-decoration: none;
}
.SinglePageUp .SPUpText .NewArrivals:hover {
  color: #f16d7f;
}
.SinglePageUp .SPUpText .us {
  display: flex;
  justify-content: center;
}
.SinglePageUp .SPUpGirl {
  display: flex;
  height: 100%;
  border: 1px solid #eaeaea;
  background-color: #f7f7f7;
  justify-content: space-between;
}
.SinglePageUp .SPUpGirl .circles {
  margin-top: 365px;
  display: block;
  width: 47px;
  height: 47px;
  line-height: 47px;
  background-color: darkgrey;
  color: #ffffff;
  text-align: center;
}
.SinglePageUp .SPUpGirl .circles:hover {
  background-color: #f16d7f;
  color: darkgrey;
}
.SinglePageUp .SPUpGirl .SPUpGirlImage {
  width: 597px;
  height: 724px;
  padding-top: 11px;
}

.SPCenter {
  display: flex;
  flex-direction: column;
  height: 730px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  margin-bottom: 119px;
  z-index: 1;
  position: relative;
  margin-top: -80px;
  text-align: center;
}
.SPCenter .Women-collection {
  color: #f16d7f;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  justify-content: center;
  padding-top: 73px;
}
.SPCenter .border-women {
  margin-left: 498px;
  width: 147px;
  border: 1px solid #eaeaea;
}
.SPCenter .border-women:hover {
  width: 147px;
  border: 1px solid #ef5b70;
}
.SPCenter .Moschino {
  color: #4d4d4d;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
}
.SPCenter .women-star {
  color: #e4af48;
  padding-top: 24px;
  padding-bottom: 28px;
}
.SPCenter .Moschino-text {
  color: #5e5e5e;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  padding-left: 262px;
  width: 618px;
}
.SPCenter .Moschino-material {
  color: #b9b9b9;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  padding-top: 28px;
  text-transform: uppercase;
}
.SPCenter .Moschino-price {
  color: #ef5b70;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  padding-top: 37px;
}
.SPCenter .Moschino-border {
  margin-top: 43px;
  margin-left: 250px;
  width: 642px;
  border: 1px solid #eaeaea;
  background-color: #ef5b70;
}
.SPCenter .features {
  margin-left: 315px;
  margin-top: 50px;
  display: flex;
}
.SPCenter .features .feature-text {
  color: #2f2f2f;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  padding-right: 90px;
  padding-bottom: 16px;
}
.SPCenter .features .choose-color {
  margin-right: 90px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 12px;
  padding-bottom: 12px;
  color: #bcbcbc;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  width: 144px;
  height: 35px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  text-decoration: none;
}
.SPCenter .features .choose-color:hover {
  color: #f16d7f;
  border: 1px solid #f16d7f;
}
.SPCenter .SPCenter__button-white {
  margin-top: 40px;
  width: 537px;
}

.you-may .you-may-text {
  color: #4d4d4d;
  font-size: 24px;
  font-weight: 400;
  line-height: 20px;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  padding-bottom: 72px;
}
.you-may .SP-box-product {
  padding-top: 59px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.you-may .fon-product {
  width: 261px;
  height: 280px;
  background-color: #f8f7f6;
}
.you-may .item-product:hover .fon-product {
  filter: brightness(50%);
}

.Cart-SinglePageUp {
  margin: 0 auto;
  width: 1600px;
  margin-bottom: 60px;
  height: 148px;
  background-color: #f8f3f4;
  display: flex;
  flex-direction: column;
  position: relative;
}
.Cart-SinglePageUp .Cart-SPUpText {
  display: flex;
  justify-content: space-between;
}
.Cart-SinglePageUp .Cart-SPUpText .Cart-NewArrivalsUpLeft {
  color: #f16d7f;
  font-size: 24px;
  font-weight: 400;
  line-height: 20px;
  padding-top: 65px;
  padding-bottom: 65px;
  text-transform: uppercase;
}
.Cart-SinglePageUp .Cart-SPUpText .Cart-us {
  display: flex;
  justify-content: center;
  margin-top: 70px;
}
.Cart-SinglePageUp .Cart-SPUpText .Cart-NewArrivals {
  color: #636363;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  padding-bottom: 68px;
  text-transform: uppercase;
  text-decoration: none;
}
.Cart-SinglePageUp .Cart-SPUpText .Cart-NewArrivals:hover {
  color: #f16d7f;
}

.details .product-details {
  display: flex;
  margin-top: 20px;
  width: 1147px;
  justify-content: space-between;
}
.details .product-details .product-content-left {
  display: flex;
  width: 488px;
}
.details .product-details .product-content-word {
  color: #222222;
  font-size: 13px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
}
.details .product-details .clothes-name {
  color: #222222;
  font-size: 13px;
  font-weight: 400;
  line-height: 11px;
  text-transform: uppercase;
  padding-bottom: 40px;
  text-decoration: none;
}
.details .product-details .clothes-name:hover {
  color: #f16d7f;
}
.details .product-details .clothes-information {
  color: black;
  font-size: 13px;
  font-weight: 400;
  line-height: 31px;
}
.details .product-details .clothes-txt {
  width: 389px;
  padding-right: 2px;
  padding-left: 20px;
}
.details .product-details .product-content-right {
  display: flex;
  justify-content: space-around;
  width: 659px;
}
.details .product-details .clothes-price {
  padding-top: 40px;
  color: #656565;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
}
.details .product-details .choose-number {
  margin-top: 40px;
  width: 54px;
  height: 25px;
  color: #656565;
  font-size: 13px;
  font-weight: 400;
  line-height: 25px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  text-align: center;
  text-decoration: none;
}
.details .product-details .clothes-free {
  padding-top: 40px;
  color: #656565;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}
.details .choice-button {
  display: flex;
  margin-top: 44px;
  justify-content: space-between;
}
.details .choice-button .details__button-white {
  margin-top: 44px;
  width: 225px;
}

.clothes-cancel {
  color: #c0c0c0;
  padding-top: 40px;
}

.clothes-cancel:hover {
  color: red;
}

.product-details-border-1 {
  width: 1140px;
  border: 1px solid #eaeaea;
}

.all-client {
  display: flex;
  justify-content: space-between;
}
.all-client .contacts-client {
  width: 355px;
  flex-direction: column;
  display: flex;
  margin-top: 63px;
}
.all-client .contacts-client .address {
  color: #222222;
  font-size: 16px;
  font-weight: 700;
  line-height: 13px;
  text-transform: uppercase;
}
.all-client .contacts-client .address-opinion {
  flex-direction: column;
  height: 45px;
  margin-top: 20px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  color: #b1b1b1;
  font-size: 13px;
  font-weight: 300;
  line-height: 45px;
  text-decoration: none;
  padding-left: 16px;
  padding-right: 16px;
}
.all-client .contacts-client .address-opinion:hover {
  border: 1px solid #f16d7f;
}
.all-client .contacts-client .all-client__button-white {
  margin-top: 23px;
  width: 118px;
}
.all-client .contacts-client .enter-address {
  padding-top: 28px;
  color: #000000;
  font-size: 14px;
  font-weight: 300;
  line-height: 14px;
}
.all-client .contacts-total {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  width: 360px;
  height: 214px;
  background-color: #f5f3f3;
  padding-right: 40px;
}
.all-client .contacts-total .sub-total {
  display: flex;
  color: #4a4a4a;
  font-size: 11px;
  font-weight: 400;
  line-height: 12px;
  text-transform: uppercase;
  padding-top: 40px;
  justify-content: flex-end;
}
.all-client .contacts-total .sub-total-2 {
  display: flex;
  color: #222222;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  padding-top: 14px;
  justify-content: flex-end;
}
.all-client .contacts-total .contacts-border {
  width: 275px;
  height: 1px;
  background-color: #e2e2e2;
  margin-top: 22px;
  margin-left: 84px;
}
.all-client .contacts-total .all-client__button-pink {
  margin-left: 84px;
  width: 273px;
  margin-top: 17px;
  line-height: 50px;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.information-name {
  color: #222222;
  font-size: 16px;
  font-weight: 700;
  line-height: 13px;
  text-transform: uppercase;
}

.information-write {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
}
.information-write .name-types {
  padding-bottom: 15px;
  color: #222222;
  font-size: 13px;
  font-weight: 400;
  line-height: 11px;
  text-transform: uppercase;
}
.information-write .name-explain {
  padding-bottom: 15px;
  color: #b3b2b2;
  font-size: 13px;
  font-weight: 400;
  line-height: 12px;
}
.information-write .information-write__button-white {
  margin-top: 75px;
  width: 180px;
  margin-bottom: 20px;
}
.information-write .information-write__button-white-right {
  margin-top: 60px;
  width: 180px;
}
.information-write .information-left {
  padding-left: 35px;
}
.information-write .information-right .note {
  color: red;
}
.information-write .information-right .information-writing {
  width: 390px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  color: #b1b1b1;
  font-size: 13px;
  font-weight: 300;
  line-height: 45px;
  padding-left: 16px;
  padding-right: 16px;
}
.information-write .information-right .information-writing:hover {
  border: 1px solid #f16d7f;
}
.information-write .information-right .right-two {
  display: flex;
}

.product-page {
  display: flex;
}

.product-catalog {
  margin-right: 50px;
}
.product-catalog .category-catalog {
  display: flex;
  padding-top: 18px;
}
.product-catalog .category-catalog .pinking-border {
  width: 5px;
  height: 37px;
  background-color: #f16d7f;
}
.product-catalog .category-catalog .categories {
  color: #f16d7f;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  padding-left: 11px;
  padding-top: 10px;
  text-transform: uppercase;
}
.product-catalog .category-catalog .icon-up-dir {
  padding-left: 145px;
  padding-top: 14px;
  color: #f16d7f;
}
.product-catalog .category-catalog .icon-down-dir {
  padding-left: 145px;
  padding-top: 14px;
  color: #6f6e6e;
}
.product-catalog .short-border {
  width: 248px;
  border: 1px solid #eaeaea;
}
.product-catalog .name-catalog {
  display: flex;
  flex-direction: column;
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 400;
  line-height: 33px;
  padding-left: 17px;
  text-decoration: none;
}
.product-catalog .name-catalog:hover {
  color: #f16d7f;
}

.text-information {
  display: flex;
}
.text-information .information-box {
  display: flex;
  flex-wrap: wrap;
}
.text-information .trend-information {
  width: 177px;
  margin-right: 114px;
}
.text-information .trend-information .trend-var {
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
}
.text-information .trend-information .trend-var:hover {
  color: #f16d7f;
}
.text-information .price-h3 {
  padding-bottom: 26px;
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  padding-top: 10px;
  text-transform: uppercase;
}
.text-information .size-information {
  margin-right: 58px;
  width: 250px;
}
.text-information .size-information .size-value {
  display: flex;
  padding-right: 22px;
  padding-bottom: 8px;
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.text-information .size-information .size-value:hover {
  color: #f16d7f;
}
.text-information .price-information .price-line {
  width: 262px;
  height: 6px;
  border-radius: 3px;
  background-color: #f0f0f0;
}
.text-information .price-information .price-line:hover {
  background-color: #f16d7f;
}
.text-information .price-information .price-ranges {
  padding-top: 27px;
  display: flex;
  justify-content: space-between;
}
.text-information .price-information .price-range {
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
}

.sort-information {
  display: flex;
  margin-top: 47px;
  width: 846px;
  height: 50px;
  background-color: #f3f3f3;
}
.sort-information .icon-down-dir {
  margin-top: 6px;
  margin-left: 20px;
}
.sort-information .sort-by {
  display: flex;
  margin-top: 10px;
  margin-left: 9px;
  width: 153px;
  height: 30px;
  border: 1px solid #ebebeb;
  background-color: #ffffff;
}
.sort-information .sort-name {
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
}
.sort-information .horizontal {
  margin-left: 8px;
  margin-right: 8px;
  height: 28px;
  border: 1px solid #ebebeb;
}
.sort-information .show {
  display: flex;
  margin-top: 10px;
  margin-left: 10px;
  width: 119px;
  height: 30px;
  border: 1px solid #ebebeb;
  background-color: #ffffff;
}
.sort-information .drop-sort {
  margin-top: 30px;
  margin-left: -67px;
  width: 130px;
  padding-top: 10px;
  background-color: #ffffff;
  border: 1px solid #ebebeb;
  height: max-content;
  z-index: 2;
  padding-left: 8px;
}

.product-images {
  display: flex;
  flex-wrap: wrap;
  margin-top: 58px;
  justify-content: space-between;
}
.product-images .columns {
  display: flex;
  flex-direction: column;
}
.product-images .columns .both {
  display: flex;
  justify-content: space-around;
}
.product-images .columns .circle-like {
  display: flex;
  justify-content: center;
  border: 1px solid #ffffff;
  margin-top: 8px;
  width: 57px;
  height: 38px;
  background-color: rgba(255, 255, 255, 0);
}
.product-images .columns .circle-like:hover {
  border-color: #f16d7f;
}

.product-numbers {
  display: flex;
  justify-content: space-between;
  margin-top: 64px;
}
.product-numbers .numbers {
  display: flex;
  width: 261px;
  height: 44px;
  border-radius: 3px;
  border: 1px solid #ebebeb;
  background-color: #ffffff;
  padding-top: 17px;
  justify-content: space-around;
}
.product-numbers .numbers .icon-left-open {
  padding-top: 5px;
  color: #aaaaaa;
}
.product-numbers .numbers .numbers-pages {
  color: #c4c4c4;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.product-numbers .numbers .numbers-pages:hover {
  color: #f16d7f;
}
.product-numbers .numbers .icon-right-open {
  padding-top: 5px;
  color: #f16d7f;
}
.product-numbers .product-page__button-white {
  width: 150px;
  height: 44px;
  line-height: 44px;
}

.offer_sale_2 {
  margin: 0 auto;
  width: 1600px;
  margin-top: 110px;
  display: flex;
  justify-content: space-around;
  margin-bottom: -96px;
  height: 341px;
  background-color: #222224;
}
.offer_sale_2 .offer-com {
  width: 309px;
  padding-top: 89px;
}
.offer_sale_2 .offer-com .o_title {
  width: 309px;
}
.offer_sale_2 .offer-com .o_text {
  width: 310px;
}
.offer_sale_2 .offer-com .image-sale-2 {
  justify-content: center;
  padding-bottom: 23px;
}

.container-footer {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.comments {
  flex: 1;
}

.black-password {
  padding-top: 60px;
  font-size: 13px;
  font-weight: 400;
  line-height: 12px;
  color: black;
  padding-left: 5px;
}

.black {
  color: black;
}

.pink {
  color: #f16d7f;
}

.red {
  color: red;
}

.grey {
  color: #6f6e6e;
}

.black-light {
  color: #2f2f2f;
}

.mega-menu-img {
  margin-left: -17px;
  padding-top: 10px;
}

.small {
  margin-left: 5px;
}

.smallTwo {
  margin-top: -7px;
}

.addImage {
  height: 115px;
  padding-right: 10px;
}

.addImage:hover {
  transform: scale(1.1, 1.1);
  transition: all 0.2s;
}

.feedback {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 20px;
  justify-content: space-around;
  margin-top: -80px;
  margin-bottom: 30px;
}
.feedback .comment {
  justify-content: space-evenly;
  padding: 10px;
  width: 250px;
  border-radius: 3%;
  border: 2px solid #f16d7f;
  margin-bottom: 20px;
}
.feedback .approved {
  background-color: #f16d7f;
  color: #ffffff;
}
.feedback .not-approved {
  background-color: #ffffff;
  color: #f16d7f;
}
.feedback .approve-btn, .feedback .remove-btn, .feedback .add-btn {
  width: 100px;
  margin: 5px;
  border-radius: 10%;
  color: #f16d7f;
  background-color: #ffffff;
  border: 1px solid #f16d7f;
  padding: 5px;
}
.feedback .approve-btn:hover, .feedback .remove-btn:hover, .feedback .add-btn:hover {
  color: #ffffff;
  background-color: #f16d7f;
}
.feedback .add-btn {
  margin-left: 140px;
}

.button-add {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.button-add .button-white {
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f16d7f;
  color: #ffffff;
}
.button-add .button-white:hover {
  border: 1px solid #f16d7f;
  color: #f16d7f;
  background-color: #ffffff;
}

.myForm {
  display: flex;
  flex-direction: column;
  margin-left: 630px;
  padding: 20px;
  color: #f16d7f;
  margin-bottom: 50px;
  border-radius: 3%;
  border: 2px solid #f16d7f;
  width: 380px;
}
.myForm .authorFeedback {
  color: #f16d7f;
  margin-left: 7px;
  padding: 5px;
  width: 250px;
  border: 1px solid #f16d7f;
}
.myForm .textFeedback {
  font-size: 17px;
  margin-top: -14px;
  margin-left: 90px;
  margin-bottom: 10px;
  padding: 5px;
  width: 250px;
  border: 1px solid #f16d7f;
  color: #f16d7f;
}
.myForm .addFeedback {
  width: 130px;
  margin-left: 130px;
  border-radius: 10%;
  color: #f16d7f;
  background-color: #ffffff;
  border: 1px solid #f16d7f;
  padding: 5px;
}
.myForm .addFeedback:hover {
  color: #ffffff;
  background-color: #f16d7f;
}

.hidden {
  display: none;
}
