.button-pink {
  text-align: center;
  display: block;
  color: #ffffff;
  font-size: 15px;
  font-weight: 400;
  line-height: 38px;
  background-color: #f16d7f;
  color: #ffffff;
  text-decoration: none;
  border: 1px solid transparent;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.button-pink:hover {
  background-color: #ffffff;
  color: #f16d7f;
  border: 1px solid #f16d7f;
}

.button-white {
  display: block;
  text-align: center;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  text-decoration: none;
  color: #4a4a4a;
  font-size: 14px;
  font-weight: 700;
  line-height: 50px;
  text-transform: uppercase;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.button-white:hover {
  color: #f16d7f;
  border: 1px solid #f16d7f;
}
