$pink-color: #f16d7f;
$white-color: #ffffff;
$border-grey: 1px solid #e6e6e6;
$border-grey-2: 1px solid #e8e8e8;
$border-grey-3: 1px solid #ececec;
$border-grey-4: 1px solid #eaeaea;
$border-pink: 1px solid #f16d7f;
@mixin text-rules($color, $font-size, $font-weight, $line-height){
  color: $color;
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
}

.button-pink {
  text-align: center;
  display: block;
  @include text-rules($white-color, 15px, 400, 38px);
  background-color: $pink-color;
  color: $white-color;
  text-decoration: none;
  border: 1px solid transparent;
  transition: all 0.2s;
}

.button-pink:hover {
  background-color: $white-color;
  color: $pink-color;
  border: $border-pink;
}

.button-white {
  display: block;
  text-align: center;
  border: $border-grey-4;
  background-color: $white-color;
  text-decoration: none;
  @include text-rules(#4a4a4a, 14px, 700, 50px);
  text-transform: uppercase;
  transition: all 0.2s;
}

.button-white:hover {
  color: $pink-color;
  border: $border-pink;
}
